/* ColorPicker.module.css */
.colorPickerContainer {
    position: relative; 
    /* Make sure this container is the reference point for the absolute positioning */
}

.colorPickerWrapper {
    display: inline;
    position: relative;
}

.toggleColorPickerButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right:5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    color: black;
}

.sketchPickerContainer {
    position: absolute;
    top: 50px; /* Adjust this value as needed to ensure it opens above the button */
    /* left: 0; */
    z-index: 1000; /* Ensure it appears above other elements */
}
