/* src/components/Keyboard.module.css */
.keyboardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .keyButton {
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .languageButton {
    margin: 5px;
    padding: 0px 4px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
  }
  
  .languageImg{
    height: 40px;
    padding: 0px;
  }