.specialKeysContainer{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0%;
    margin: 50px;
}

.buttons{
    background-color: white;
    margin: 0px;
    border-radius: 0px;
}

.buttonsImage{
    height: 30px;
}