/* src/components/TextEditor.module.css */

.editorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Adjusted margin */
}

.textArea {
  width: 100%;
  max-width: 890px; /* Maximum width */
  height: 300px;
  font-size: 18px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.541); /* Transparent black color */
  /* border: 1px solid #d4d4d4; */
  border-radius: 0 0 5px 5px;
  color: white; /* Set text color to white */
  margin: 0;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); /* Added shadow effect */
  border-top: none;
  resize: none;
}

.increaseButton {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.specialKeysAndColorPicker {
  display: flex;
  align-items: center;
  margin: 0; /* Adjusted margin */
  flex-wrap: wrap;
  background-color:  rgb(255, 255, 255); /* Dark background for buttons bar */
  border-radius: 5px;
  padding-left: 20px;
  border: 1px solid  #d4d4d4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added shadow effect */
}

.title {
  font-size: 44px;
  color: #ffffff;
  font-style: italic;
}
